@import 'react-alice-carousel/lib/scss/alice-carousel.scss';

body {
  background-color: #f4debe;
}

.container {
  display: flex;
  background-color: none;
  text-align: center;
  margin: 0rem 15rem 0rem 15rem;
  img {
    margin-top: 5rem;
    margin-left: 30rem;
  }
}

ul {
  list-style-type: none;
  margin: 0;
  padding-top: 1rem;
  text-decoration: none;
  overflow: hidden;
  background-color: none;
  text-align: right;
  font-size: 1.5rem;
  font-family: 'Oswald', Sans-serif;
  text-transform: uppercase;
  padding-left: 60rem;
}

li {
  display: inline-block;
  justify-content: space-between;
  margin: 1rem;
  text-decoration: none;
}

li a {
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: none;
  text-decoration: underline;
  color: black;
}

.welcome {
  p {
    font-size: 2rem;
    line-height: 1.5;
    margin-left: 15rem;
    width: 100%;
    margin-top: 2rem;
    font-family: 'Oswald', Sans-serif;
    text-transform: uppercase;
  }
}

.navbar {
  letter-spacing: 0.5rem;
  text-transform: uppercase;
  color: black;
  min-height: 10vh;
  padding-left: 5rem;
  top: 0;
  display: flex;
  background-color: white;
  position: sticky;
  z-index: 999;

  // border-bottom: 0.5px solid black;

  #logo {
    text-decoration: none;
    color: black;
    img {
      width: 10rem;
    }
  }
  // .cart {
  //   display: inline-block;
  //   position: relative;
  //   font-size: 2rem;
  //   text-decoration: none;
  //   color: black;
  // }
}

.layout-container {
  padding-top: 1rem;
  overflow-x: hidden;
}

.frontpage {
  position: relative;
  display: grid;
  grid-template-columns: 3fr 1fr 1fr;
  grid-gap: 1px;
  margin: 0 -16px;
}

.fp-cell {
  background-color: #fff;
  padding: 16px;
}

.fp-cell--1 {
  grid-row: 1 / span 2;
  margin-left: 20rem;
}

.fp-cell--2 {
  grid-column: 2 / span 2;
  margin-right: 20rem;
}

.fp-cell--3 {
  grid-column: 2 / span 2;
  margin-right: 20rem;
}

.fp-item {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 200px;
  height: 100%;
}

hr {
  border: 0;
  height: 1px;
  background: #333;
  width: 75%;
  background-image: linear-gradient(to right, #ccc, #333, #ccc);
}

.ads {
  text-align: center;
  text-transform: uppercase;
  padding-top: 1rem;
  letter-spacing: 0.2rem;
}

#ad1 {
  height: 55vh;
  width: 75vh;
  object-fit: cover;
}
#ad2 {
  height: 25vh;
  width: 50vh;
  object-fit: cover;
}

#ad3 {
  height: 27vh;
  width: 60vh;
  object-fit: cover;
}

.gallery {
  margin: 0 15rem 0 5rem;
  align-items: stretch;
  height: 100%;
}

.car-details {
  h1 {
    margin-left: 25rem;
    margin-top: 5rem;
    justify-content: center;
  }

  h4 {
    margin-left: 25rem;
    justify-content: center;
  }
  img {
    object-fit: cover;
    width: 70vh;
    height: 50vh;
    margin-left: 25rem;
  }
  hr {
    width: 15%;
    border: 0;
    height: 1px;
    background: #333;
    margin-left: 1rem;
    position: absolute;
    display: inline-block;
  }
}

.seller {
  position: absolute;
  display: inline-block;
  margin-top: 1rem;
  margin-left: 1rem;
  font-size: 1rem;
  h3 {
    font-size: 2rem;
  }
  button {
    margin-top: 5rem;
    background-color: #ccc;
  }
  p {
    margin-top: 1rem;
  }
}

.vehicle-data {
  margin-top: 2rem;
  margin-left: 25rem;
  margin-right: 25rem;
  table,
  td,
  th {
    border: none;
    text-align: left;
  }

  table {
    border-collapse: collapse;
    width: 100%;
  }

  th,
  td {
    padding: 15px;
    border-bottom: 1px solid #ccc;
  }
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 300px;
  margin: auto;
  text-align: center;
  font-family: arial;
  height: 100%;
  margin: 3rem;
  margin-left: 6rem;
  display: inline-block;
  justify-content: center;
  width: 100%;
  h5 {
    font-size: 1.5rem;
  }
}

.card-text {
  p {
    padding-top: 1rem;
  }
}

.price {
  color: grey;
  font-size: 22px;
}

.card button {
  border: none;
  outline: 0;
  padding: 12px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
  margin-top: 1rem;
}

.card button:hover {
  opacity: 0.7;
}

.carousel {
  width: 50%;
  height: 50%;
  text-align: center;
  justify-content: center;
  img {
    width: 50rem;
    text-align: center;
  }
}
